.filterButton {
  display: flex;
  width: 170px;
  height: 64px;
  border-radius: 10px;
  background-color: var(--color-3);
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in-out;
  z-index: 999;
}

.filterButton:focus {
  outline: none;
}

.icon {
  font-size: 20px;
}

.filterButton:hover {
  transform: scale(0.96);
}

@media (width <= 768px) {
  .filterButton {
    display: none;
  }
}
