.datosPersonales {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-weight: 700;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(206, 206, 206, 1);
}

.subtitle {
  color: var(--color-1);
}

.value {
  all: unset;
  width: 100%;
}

.valueCont {
  width: 100%;
}

.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.error {
  color: var(--color-error);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  gap: 2px;
}

.edit,
.save {
  cursor: pointer;
  color: rgba(206, 206, 206, 1);
  position: absolute;
  right: 10px;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
}

.save {
  color: var(--color-1);
}
.save:hover {
  color: var(--color-3);
}

.edit:hover {
  color: var(--color-2);
}

@media (width >= 640px) {
  .content {
    flex-direction: row;
  }
  .subtitle {
    min-width: 200px;
  }

  .valueCont {
    display: flex;
    flex-direction: column;
  }
}
