.container {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: var(--shadow);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(238, 234, 234, 1);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  cursor: pointer;
}

.item:hover .title {
  font-weight: 700;
}

.title {
  flex: 1;
  padding-right: 20px;
}

.select {
  color: rgba(58, 57, 62, 1);
}

.loader,
.noServices {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

@media (width >= 768px) {
  .title {
    font-size: 16px;
  }
  .select {
    font-size: 16px;
  }
}
