.container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  position: relative;
  background-position: 30% 0%;
}

/* HERO SECTION */

.hero {
  flex: 1;
  min-height: 450px;
  position: relative;
  z-index: 2;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
  margin-left: 20px;
  margin-top: 40px;
  text-wrap: balance;
}

.heroTitle {
  color: white;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.heroSeparator {
  width: 24px;
  height: 4px;
  background-color: var(--color-3);
}

.heroDes {
  color: var(--color-3);
  font-size: 21.5px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.heroImage {
  background-image: url("/images/heroImage.png");
  background-size: cover;
  background-position: 20% 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* ABOUT SECTION */

.about {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  background-color: var(--color-3);
  border-radius: 20px 20px 0 0;
  height: 325px;
  max-height: 400px;
  position: relative;
  z-index: 3;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
}

/* CARD */

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 100%;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: var(--color-3);
}

.title {
  font-size: 28px;
}

.des {
  font-weight: 300;
}

/* Media Queries */

/* Menor a 400px */
@media (width <= 400px) {
  .heroImage {
    background-image: url("/images/heroImageMobile.png");
  }
}

@media (width < 640px) {
  .heroImage {
    background-position: 40% 0%;
  }

  .card {
    width: min(350px, 100%);
  }
}

/* Mayor o igual a 640px */
@media (width >= 640px) {
  .container {
    background-position: 30% 0%;
  }

  .hero {
    min-height: 600px;
  }

  .heroTitle {
    font-size: 48px;
    line-height: 50px;
    font-weight: 400;
  }

  .heroDes {
    font-size: 34px;
  }

  .heroContent {
    max-width: 500px;
    margin-left: 50px;
    margin-top: 70px;
  }

  .heroSeparator {
    display: none;
  }

  .card {
    width: min(600px, 100%);
    padding: 30px;
  }

  .title {
    font-size: 40px;
  }

  .des {
    font-size: 20px;
  }

  .content {
    gap: 30px;
    bottom: 50px;
  }

  .about {
    height: 400px;
  }
}

/* Mayor o igual a 1080px */
@media (width >= 1080px) {
  .hero {
    min-height: 500px;
  }

  .about {
    height: 150px;
  }

  .content {
    width: 100%;
    bottom: 30px;
  }

  .card {
    width: 500px;
    height: 246px;
  }
}
