.sidebar {
  background-color: var(--color-3);
  min-width: 220px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (width < 768px) {
  .sidebar {
    display: none;
  }
}

@media (width >= 1080px) {
  .sidebar {
    min-width: 270px;
  }
}
