.checkout {
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  color: var(--color-3);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}
.value {
  color: white;
}
.cvu {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: white;
}

.button {
  display: none;
  justify-content: flex-end;
  width: 100%;
}

.done {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-3);
  padding: 30px 20px;
  border-radius: 10px;
}

.doneText {
  text-align: center;
}

.doneValue {
  color: var(--color-3);
}

.icon {
  font-size: 50px;
}

.valueEdit{
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit{
  font-size: 20px;
  cursor: pointer;
  color: var(--color-3);
}

@media (width >= 768px) {
  .title {
    font-size: 24px !important;
  }
  .checkout {
    padding: 40px 50px;
    gap: 30px;
  }
  .button {
    display: flex;
  }
  .doneText {
    font-size: 24px;
  }
}
